streamlit
pyttsx3
pypdf
langchain
torch
accelerate
faiss-cpu
ctransformers
sentence-transformers
bitsandbytes
chainlit
huggingface_hub
langchain_community
speechrecognition
gtts
pdfminer.six
python-docx
transformers
