accelerate
bitsandbytes
chainlit
ctransformers
faiss-cpu
gtts
huggingface_hub
langchain
langchain_community
pdfminer.six
pyttsx3
pypdf
python-docx
sentence-transformers
speechrecognition
streamlit
torch
transformers
